# 🐍 Python: bytecode, compiled, temp
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.dll

# 🧪 Pytest
.pytest_cache/
.cache/
*.log

# 🌐 Виртуальные окружения
venv/
.venv/
env/
.env
.env.*

# 🧪 Allure


# 🧪 Целевые тестовые папки (например, Java-проекты)
/target/
!/target/allure-results/

# IDE: PyCharm, VS Code
.idea/
.vscode/

# 🚫 Бэкапы / мусор
*.swp
*.bak
*.tmp
*.orig
*.DS_Store
Thumbs.db


# System files
.DS_Store


# Compiled code
*.so
*.pyd
*.dll

chromedriver
geckodriver